.card {
  background-color: var(--secondary-color);
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}



.subs-text {
  width: 500px;
}

/* optional: responsive tweaks */
@media (max-width: 767.98px) {
  .subs-text { width: 100%; }
  .card { padding: 1rem; }
}
