/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #026467;
    --secondary-color: #E5F5EA;
    --body-text-color: #596392;
    --navbar-footer-color: #F9F9F9;
}

body {
    font-family: 'Roboto', sans-serif;
    size: 12px;
    color: var(--body-text-color);
}

.site-logo {
    padding: 5px 20px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.nav-link {
    color: var(--primary-color);
}

.app-body {
    min-height: 85vh;
    margin-top: 150px;
}