<div class="card">
    <img src="https://i.pinimg.com/736x/f0/21/ec/f021ecfb624d5a2b8880791234c557cc.jpg" alt="post-image" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-success text-center"> Featured </small>
        <small class="bg-light text-info text-center"> Views - 3,636 </small>

        <h5 class="mt-1"> HOW TO START A BLOG IN 2025 EDITED NEW CATEGORY</h5>
        <p>Nguyen Gia Khien</p>

       <small class="bg-light text-warning text-center ms-3"> LAST UPDATED - SEP 20, 2025 </small>
    </div>
</div>
